<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %> <!--The "-" sign is used so EJS can HTML code can be treated as such within EJS file-->
    <%- include('includes/phone_sidebar') %>
    <main>
      <h1>Success!</h1>
      <p>Your restaurant was successfully added to our list!</p>
    </main>
  </body>
</html>